.itemContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.itemImage {
  margin-right: 50px;
}

.itemDetails {
  width: 500px;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.button {
  background-color: orange;
  transition: background-color 0.1s linear;
  border: none;
  border-radius: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 160px;
  height: 30px;
  margin-left: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(237, 156, 5);
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  25% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.alert {
  width: 300px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: #4242ecb0;
  color: white;
  text-align: center;
  z-index: 1000;
  transform: translateY(-100%);
  opacity: 0;
  animation: slide 3s forwards;
}

@media (max-width: 599px) {
  .itemContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .itemDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
  }

  .itemImage {
    margin-right: 0;
  }

  .itemTitle {
    font-size: 20px;
  }
  .price {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
