.headerDiv {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 30px 30px;
  padding-top: 20px;
}

.title {
  margin: 0;
}

.iconDiv {
  display: flex;
  gap: 5px;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: black;
}
