.itemUl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* repeatは 1fr 1fr 1fr;これと同じ */
  grid-gap: 1rem;
  list-style: none;
  justify-items: center;
  /* align-items: center; */
  padding: 0;
  margin: 0 10vw;
}

.link {
  text-decoration: none;
  color: black;
}

.link:visited {
  color: grey;
}

.itemList {
  width: 350px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
}

.itemDiv {
  text-align: center;
}

.itemTitle {
  font-weight: bold;
}
