.layout {
  background-color: rgba(194, 191, 191, 0.163);
}

.itemUl {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  /* repeatは 1fr 1fr 1fr;これと同じ */
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: black;
  height: 100%;
}

.link:visited {
  color: grey;
}

.itemList {
  width: 350px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
}

.itemDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* justifyが主軸 */
}

.itemTitle {
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}

.itemPrice {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.priceAndRatingDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  /* padding分が幅に加算されるのを防ぐためboxsizing */
}
