.link {
  display: flex;
}

.totalQuantity {
  width: 25px;
  height: 25px;
  margin: 0;
  background-color: rgba(255, 0, 0, 0.697);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.link:hover svg {
  color: grey;
}

.link:hover .totalQuantity {
  background-color: rgba(255, 0, 0, 0.348);
}

// @keyframes slide {
//   0% {
//     transform: translateY(-100%);
//     opacity: 0;
//   }
//   50% {
//     transform: translateY(0);
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(-100%);
//     opacity: 0;
//   }
// }

// .alert {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   padding: 16px;
//   background-color: #f44336;
//   color: white;
//   text-align: center;
//   z-index: 1000;
//   transform: translateY(-100%);
//   opacity: 0;
// }

// .alert.animate {
//   animation: slide 3s forwards;
// }
