.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  transition: background-color 0.1s linear;
  border: none;
  border-radius: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 200px;
  height: 35px;
  margin-left: 10px;
}

.link:hover {
  cursor: pointer;
  background-color: rgb(237, 156, 5);
}

.title {
  margin: 0;
}
