.link {
  display: flex;
}

.totalQuantity {
  width: 25px;
  height: 25px;
  margin: 0;
  background-color: rgba(255, 0, 0, 0.697);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  transition: all 0.3s ease;
}

.svg {
  transition: color 0.3s ease;
}

.link:hover .svg {
  color: grey;
}

.link:hover .totalQuantity {
  background-color: rgba(255, 0, 0, 0.348);
}
